﻿@model PublicTransport.UI.Models.CreateBusModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>BusModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BusId" class="control-label"></label>
                <input asp-for="BusId" class="form-control" />
                <span asp-validation-for="BusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusDescription" class="control-label"></label>
                <input asp-for="BusDescription" class="form-control" />
                <span asp-validation-for="BusDescription" class="text-danger"></span>
            </div>
            <div>
                @Html.LabelFor(model => model.Bus.Route, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.DropDownListFor(model => model.SelectedRoute, new SelectList(Model.Routes, "Value", "Text"))
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
